body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 420px;
    height: auto;
  
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
   
  }
  
.search input[type="text"] {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the RGBA values for the input field background color and transparency */
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}


.search button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.search button:active {
    background-color: #999; 
    color: #fff; 
    transform: scale(0.95); 
}
.weather-icon0{
    width: 130px;
    margin-top :20px
}
.weather-icon1{
    width: 130px;
    margin-top :20px
}
.weather h1{
   font-size: 77px;
   font-weight: 500;      
}
.weather h2{
    font-size: 46px;
    font-weight: 400;  
    margin-top: -9px;    
 }
 .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
 }
 .col{
    display: flex;
    align-items: center;
    text-align: left;
 }
 .col img{
        width: 40px;
        margin-right: 10px;
 }
 
 .details .col p {
    font-size: 18px; 
    margin: 1px 0; 
  }
  .weather{
    display: none;
  }